body {
  font-family: sans-serif;
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  background-color: rgb(109, 142, 142);
}
#chat {
  border: 1px solid #ccc;
  padding: 1rem;
  height: 400px;
  overflow-y: auto;
}
.msg {
  margin: 0.5rem 0;
}
.user {
  color: blue;
  font-weight: bold;
}
.bot {
  color: green;
  font-weight: bold;
}
button {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}
input {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 96.5%;
}
